*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'source sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro' , monospace;

    font-weight: 300;
    font-weight: 900;

    --clr-bg: aqua;
    --clr-text: #303030;
    --clr-accent: ;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs: 0.25em,0.25em,0,0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width:800px) {
    :root{
        --fs-h1:4.5;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}


body {
    background: rgb(7, 52, 52) ;
    color: aquamarine;
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{font-weight: var(--fw-bold);}

img{
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: rgb(7, 52, 52);
    color: rgb(13, 0, 52);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: transfrom 200ms ease-in-out;
}




h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}




header {
    position: relative; 
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em; 
 
    max-width: 100%;
}

#header {
    display: flex;
    justify-content:fle;
    align-items: center;
    width: 100%;
}




/* Navigation */

#navbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

#navbar li, #navbar a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#navbar a:hover {
    color: aquamarine;
    text-decoration:overline;
    text-transform: uppercase;
    font-weight: 700;
}

#navbar ul {
    display: flex;
    align-items: center;
    font-size: 30px;
}


.nav-open{
    background: red;
}

#myself {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    
}

#photoofme {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homesection {
    display: flex;
    justify-content: center;
    align-items: center;
}


    #photoofme{
         grid-area: img; 
        min-width: 250px;
        position: relative;
        z-index: 2;
        padding-bottom: 20px;
    }



.dylanBright {
font-size: 30px;
}

.webDev {
    font-size: 20px;
    font-style: italic;
}


.mySkills, .about, .myWork {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: black;
    margin: 70px;
}


 

 .h2Work {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    text-align: center;
 }

 .portfolio {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
    


#recreate > img {
    height: 100px;
    width: 150px;
}
#recreate, #textGame, #colors, #selectors {
    /* margin: auto; */
    padding: 10px;
    margin-left: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#textGame > img {
    height: 100px;
    width: 150px;
}

#colors > img {
    height: 100px;
    width: 150px;
}

#selectors > img {
    height: 100px;
    width: 150px;
}
/* .section__title--services {
    color: aquamarine;
    position: relative;
} */


.section__title--services::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

   



@media (min-width:800px){
    .mySkills{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;

    }

   
}

.about{
    max-width: 1000px;
    margin: 0 auto;
}

.about__img {
    box-shadow: var(--bs);
}



@media (min-width: 600px) {
    /* .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
    } */
   
    .section__title--about{

        grid-area: auto;

    }



    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100%+4em);
        padding-left: 2em;
        padding-right: calc(200px+4em);
    }





   .section__title--about {
    grid-column: 1;
   }
   
    /* .about-me__img {
      grid-area: img;
    position: relative;
    z-index: 2;
    } */
}

.my-work {
    background-color: aquamarine;
    color: aquamarine;
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.portfolio__item {
    background: aquamarine;
}

.portfolio__img{
    transition: 750ms;
}


.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover, .portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: .5;
}

#contact {
    float: left;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}
.footer a{
    color: inherit;

}


.footer__link{
    font-size: var(--fs-h3);
}



.footer__link:hover,.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0%;
}

.social-list__item {
    margin: 0 .5em;

}

.social-list__link {
    padding: .5em;
}




#kentucky{
    max-width: 30%;
    text-align: center;
}
#textgame{
    max-width: 50%;
    text-align: center;
}

#rainbow{
    max-width: 50%;
    text-align: center;
}

#selectors{
    max-width: 50%;
    text-align: center;
}
